{% extends "restaurant_review/base.html" %}
{% block content %}
<div class="index_container">
    <div class="form_container">
    <form method="POST">
        {% csrf_token %}
            <fieldset>
                <legend>
                    Submit application
                </legend>
                {{ form }}          
                <input
                    type="submit"
                    value="submit"
                />
            </fieldset>
    </form>
    </div>
    <div class="table_container">
        {{ pandas_table | safe }}
        <a style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"; href=""></a>
        <a href="{% url 'users_htmx' %}" class="records">See all records / WL checker</a>
    </div>
</div>
<hr style="width:100%">
{% endblock %}
