{% extends "restaurant_review/base.html" %}

{% load render_table from django_tables2 %}
{% load i18n %}
{% load bootstrap3 %}


{% block main_table %}
{% if filter %}
    <form  hx-get="{% url 'users_htmx' %}"  hx-indicator=".progress" action="" method="get" class="form form-inline">
        {% bootstrap_form filter.form layout='inline' %}
        {% bootstrap_button 'filter' %}
    </form>
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
{% endif %}
{% render_table table 'django_tables2/bootstrap.html' %}
{% endblock %}

